@*@model SalturBlog.Models.Author*@

    <div class="sidebar-widget mb-50">
        <div class="tab-content fade in">
            <div class="tab-pane active" id="home">
                <a href="http://www.saltur.com.tr/" target="_blank">
                    <img src="@Url.Content("~/Content/img/sidebar/banner.jpg")" alt="saltur turizm">
                </a>
            </div>
        </div>
    </div>

